<!-- component -->
<section class="login flex justify-center pt-24">
    <div class="w-fulll max-w-xs">
        <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
            <% if(messages.error) {%>
                <!-- all the content of flash can be accessed using messages -->
                <span class="text-red-500 text-sm">
                    <%= messages.error %>
                </span>
                <% } %>
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                            Name
                        </label>
                        <input name="name" value="<%= messages.name %>"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                            id="username" type="text" placeholder="Enter your name">
                    </div>
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                            Email
                        </label>
                        <input name="email" value="<%= messages.email%>"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                            id="username" type="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-6">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                            Password
                        </label>
                        <input name="password"
                            class="shadow appearance-none  rounded w-full py-2 px-3 text-grey-darker mb-3" id="password"
                            type="password" placeholder="******************">

                    </div>
                    <div class="flex items-center justify-between">
                        <button class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded" type="submit">
                            Register
                        </button>
                        <a class="anchor inline-block align-baseline font-bold text-sm" href="/login">
                            Already have account?
                        </a>
                    </div>
        </form>
    </div>
</section>